.topnav {
    background-color: #bc2525;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #eaeaea;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ff0000;
    color: white;
  }

  html{
    background: #0c005a; 
  }

  img.alt{
    color: #eaeaea;
  }
  